body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DDDDDD;
}
#map {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  margin: 25px;
}

#controls {
  position: absolute;
  top: 35px;
  left: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
